name: VikentevaApp CI-CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x]

    steps:
    - uses: actions/checkout@v3
    
    # FRONTEND
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: spring_app_frontend/package-lock.json
    - name: Install dependencies and build 
      working-directory: ./spring_app_frontend
      run: | 
        npm ci
        npm run build --if-present
    - name: Copy to backend
      run: |
        cp -r spring_app_frontend/dist/* springApp/src/main/resources/static/
        mv springApp/src/main/resources/static/index.html springApp/src/main/resources/templates

    # BACKEND
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      working-directory: ./springApp
      run: mvn -B package --file pom.xml

    # CD
    - name: Build & push Docker image
      uses: mr-smithers-excellent/docker-build-push@v6
      with:
        image: artemku11/vikenteva-app
        tags: latest
        registry: docker.io
        dockerfile: Dockerfile
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
